.search-box {
	width: 48%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5rem;
}

.search {
	font-family: 'Poppins';
	border-radius: 3rem;
	font-size: 1.5rem;
	padding: 0.5rem;
	cursor: pointer;
}

input {
	text-align: center;
	width: 100%;
}

@media screen and (orientation: portrait) and (min-width: 0px) and (max-width: 360px) {
	.search-box {
		width: 100%;
		transform: translateY(85%);
	}

	.search {
		font-size: 1.2rem;
	}
}

@media screen and (orientation: portrait) and (min-width: 361px) {
	.search-box {
		width: 100%;
		transform: translateY(95%);
	}

	.search {
		font-size: 1.2rem;
	}
}

@media screen and (orientation: landscape) {
	.search-box {
		width: 55%;
		transform: translateX(-60px);
	}
}
