.showCountry {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
	grid-gap: 2rem;
	width: 100%;
	justify-content: space-around;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.showCountry {
		grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	}
}

@media screen and (min-width: 768px) {
	.showCountry {
		grid-template-columns: repeat(auto-fill, minmax(410px, 1fr));
		grid-gap: 1rem;
	}
}
